* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	margin: 0;
	padding: 0;
	display: block;
}

body {
	font-family: 'Rubik', sans-serif;
	background: #F8F9FC;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
	padding-bottom: 10px;
}

p {
	font-size: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.upper {
	text-transform: uppercase;
}

.capit {
	text-transform: capitalize;
}

.wrapper {
	max-width: 1440px;
	overflow: hidden;
	margin: 0 auto;
	background: #F8F9FC;
}

/*header*/
.startpage {
	background: #313A5A;
	color: #fff;
}

.header {
	padding-top: 35px;
	padding-bottom: 75px;
}
.container {
	width: 88%;
	max-width: 1177px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.logo {
	font-size: 26px;
	font-weight: 500;
	text-transform: lowercase;
}

.logo a:hover {
	border: none;
	transition: all 0.3s ease;
	color: red;
}

.nav {
	width: 370px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

a:hover {
	border-bottom: 2px solid #fff;
}

.autho {
	width: 204px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.autho .active {
	background: #1FDB84;
	border-radius: 5px 0;
	box-shadow: 0 8px 34px rgba(31, 219, 132, 0.6);
	padding: 10px 25px;
}

.autho .active:hover {
	border: none;
	background: red;
}

/*promo*/

.promo .container {
	align-items: flex-start;
}

.promo_text {
	width: 47%;
	padding-top: 100px;
	padding-bottom: 200px;
}

.promo_text h1 {
	max-width: 485px;
	font-size: 48px;
	padding-bottom: 40px;
}
.promo_text p {
	line-height: 34px;
	margin-bottom: 75px;
}

.btn {
	background: #1FDB84;
	border-radius: 5px 0;
	padding: 22px 47px;
	box-shadow: 0 -8px 34px rgba(31, 219, 132, 0.6);
}

.btn:hover {
	background: red;
	border: none;
}

.promo_img {
	margin-right: 40px;
}

/*benefits*/

.benefits {
	width: 88%;
	max-width: 1260px;
	margin: -110px auto 180px;
	position: relative;
	z-index: 10;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	background: #fff;
	border-radius: 10px;
	padding-top: 66px;
	padding-bottom: 81px;
}

.benefits .item {
	width: 300px;
}

.icon1,
.icon2,
.icon3 {
	display: inline-block;
	width: 72px;
	height: 72px;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 25px;
}

.icon1 {
	background: url(../img/icon1.svg) center center no-repeat rgba(31, 219, 132, 0.1);
}

.icon2 {
	background: url(../img/icon2.svg) center center no-repeat rgba(31, 219, 132, 0.1);
}

.icon3 {
	background: url(../img/icon3.svg) center center no-repeat rgba(31, 219, 132, 0.1);
}

.benefits h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 28px;
	color: #031D5B;
	position: relative;
	margin-bottom: 60px;
	text-transform: capitalize;
}

.benefits h4:after {
	content: '';
	width: 60px;
	height: 4px;
	background: #1FDB84;
	position: absolute;
	left: 0;
	top: 48px;
}

.benefits p {
	color: #5B6C94;
	line-height: 32px;
}

/*pricing*/

.pricing>.container {
	max-width: 1130px;
	margin: 0 auto 250px;
	display: block;
}

.pricing h2 {
	width: 810px;
	font-size: 40px;
	line-height: 64px;
	margin: 0 auto 50px;
	text-align: center;
	color: #32325C;
}

.tab {
	margin: 0 auto 65px;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.tab button {
	padding: 20px 35px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #1FDB84;
	cursor: pointer;
}

.pay-now {
	background: #fff;
	border: 1px solid #AEFDD9;
	border-radius: 5px 0 0 5px;
}

.pay-later {
	background: #F1FFF8;
	border: 1px solid #AEFDD9;
	border-radius: 0 5px 5px 0;
}

.pay-now-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.plan {
	padding: 55px 60px;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.plan h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
	color: #32325C;
}

.plan p {
	color: #5B6C94;
}

.price-content p {
	font-size: 16px;
	line-height: 28px;
	color: #5B6C94;
	margin-bottom: 15px;

}

.plan a {
	display: inline-block;
	box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
}

.bestprice {
	background: #fff;
	border-top: 3px solid #0A8AFF;
	box-shadow: 0 7px 24px rgba(83, 83, 83, 0.1);
}

.price {
	max-width: 140px;
	display: inline-block;
}

.price span {
	font-size: 72px;
	color: #1FDB84;
}

.price p {
	margin-bottom: 60px;
	margin-top: 15px;
}

/*testimonials*/

.testimonials {

}

.testimonials-title {
	float: left;
}

.what {
	width: 470px;
	padding-top: 78px;
	padding-left: 170px;
	font-size: 40px;
	line-height: 48px;
	font-weight: 500;
	color: #031D5B;
	position: relative;
	z-index: 20;
}

.what::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 30px;
	left: 145px;
	width: 165px;
	height: 413px;
	border-style: solid;
	border-width: 0 0 200px 166px;
	border-color:  orange blue #F8F9FC transparent;
	background: rgba(31, 219, 129, 0.1);
}

.what::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 30px;
	left: 360px;
	width: 165px;
	height: 413px;
	border-style: solid;
	border-width: 0 0 200px 166px;
	border-color:  orange blue #F8F9FC transparent;
	background: rgba(31, 219, 129, 0.1);
}

.testimonials-back {
	width: 810px;
	height: 970px;
	background: #313A5A;
	float: right;
}

/*slider*/

.slider {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 260px;
	margin-left: -200px;
	margin-right: -1500px;
	margin-bottom: 100px;
	position: relative;
	z-index: 20;
}

.rewievs div {
	float: left;
	height: 530px;
	margin: 0 20px;
	padding: 80px 60px 70px 50px;
	width: 420px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 12px 12px 40px rgba(121, 121, 121, 0.3);
	border-radius: 6px;
}

.rewiev3 {
	display: flex;
	flex-flow: column;
	align-content: stretch;
}

.quotes {
	margin-bottom: 30px;
}

.rewievs p,
.rewievs h5 {
	font-size: 18px;
	line-height: 36px;
	color: #5B6C94;
}

.rewievs p {
	margin-bottom: 55px;
}

.rewievs h5 {
	font-weight: 500;
}

.rewievs .active {
	background: #1FDB84;
	box-shadow: 12px 12px 40px rgba(31, 219, 132, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}

.rewievs .active p,
.rewievs .active h5 {
	color: #fff;
}

.points {
	display: flex;
	flex-flow: row;
	padding-left: 93px;
}


.points a {
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 7px;
}

.points .active {
	background: #fff;
}

/*partners*/

.clients .container {
	display: block;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 180px;
}

.clients p {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #031D5B;
	margin-bottom: 50px;
}

.clients-logos {
	margin: 0 auto;
	max-width: 1057px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.clients-logos a:hover {
	border: none;
	background: red;
}

/*footer*/

.footer {
	padding-bottom: 120px;
}

.footer,
.pages a {
	font-size: 16px;
	text-align: center;
	color: #5B6C94;
}

.footer .rights {
	margin-bottom: 60px;
}

.pages a {
	margin: 0 20px;
}

.pages a:hover {
	color: red;
}






/* сбросы стилей браузеров
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	background: #F8F9FC;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	font-size: 16px;
	line-height: 34px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*мои стили
.header {
	color: #ffffff;
	background: #313A5A;
}

.header a:hover {
	transition: all 0.5s ease;
	background: #1FDB84;
	box-shadow: 0 5px 30px rgba(31, 219, 132, 0.6);
	border-radius: 5px 0;
}

.container {
	width: 82%;
	max-width: 1177px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 55px;
}

.header .logo {
	font-size: 26px;

}

.header .nav {
	color: #fff;
}

.nav li {
	float: left;
	text-transform: capitalize;
}

.nav a {
	padding: 10px 25px;
}

.header .autho {
}

.autho a {
	padding: 10px 25px;
}

.promo {
	padding-right: 20px;
}

.promo_img {
	float: right;
}

.promo_text {
	float: left;
	width: 47%;
	padding-top: 100px;
	padding-bottom: 200px;
}

.promo_text h1 {
	max-width: 485px;
	font-size: 48px;
	padding-bottom: 40px;
}

.cover {
	position: relative;
}

.benefit {
	display: flex;
	width: 1257px;
	position: absolute;
	top: -110px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 88%;
	justify-content: space-around;
	align-items: flex-start;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 10px 20px #979797;
	z-index: 10;
	padding: 60px 50px 90px 50px;
}
.benefit .item {
	width: 300px;
}

.benefit .icon {
	display: inline-block;
	width: 72px;
	height: 72px;
	background: #1FDB84;
	opacity: 0.1;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 25px;
}

.benefit h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 28px;
	color: #031D5B;
	position: relative;
	margin-bottom: 60px;
	text-transform: capitalize;
}

.benefit h3:after {
	content: '';
	width: 60px;
	height: 4px;
	background: #1FDB84;
	position: absolute;
	left: 0;
	top: 48px;
}

.benefit p {
	color: #5B6C94;
}

.pricing {
	padding-top: 517px;
}

.pricing .container {
	max-width: 1130px;
	width: 79%;
}

.pricing h2 {
	font-size: 40px;
	font-weight: bold;
	max-width: 72%;
	margin: 0 auto;
	text-align: center;
	line-height: 64px;
	color: #32325C;
	margin-bottom: 70px;
}